<!-- TierList表示・編集 -->
<table class="container">

  <tr id='tier1'>
    <td class="tier bg-danger">Tier1</td>
    <td class="tier_elements row m-0 table-danger" id='tier1_elements'>
      <% tier_list.selected_elements.where(tier: 1).each do |selected_element| %>
        <div class="m-1 bg-light element" id="<%= selected_element.element.id %>" data-tier="<%= selected_element.tier %>">
          <%= selected_element.element.name %>
        </div>
      <% end %>
    </td>
  </tr>

  <tr id='tier2'>
    <td class="tier bg-primary">Tier2</td>
    <td class="tier_elements row m-0 table-primary" id='tier2_elements'>
      <% tier_list.selected_elements.where(tier: 2).each do |selected_element| %>
        <div class="m-1 bg-light element" id="<%= selected_element.element.id %>" data-tier="<%= selected_element.tier %>">
          <%= selected_element.element.name %>
        </div>
      <% end %>
   </td>
  </tr>

  <tr id='tier3'>
    <td class="tier bg-warning">Tier3</td>
    <td class="tier_elements row m-0 table-warning" id='tier3_elements'>
      <% tier_list.selected_elements.where(tier: 3).each do |selected_element| %>
        <div class="m-1 bg-light element" id="<%= selected_element.element.id %>" data-tier="<%= selected_element.tier %>">
          <%= selected_element.element.name %>
        </div>
      <% end %>
    </td>
  </tr>

  <tr id='tier4'>
    <td class="tier bg-secondary">Tier4</td>
    <td class="tier_elements row m-0 table-secondary" id='tier4_elements'>
      <% tier_list.selected_elements.where(tier: 4).each do |selected_element| %>
        <div class="m-1 bg-light element" id="<%= selected_element.element.id %>" data-tier="<%= selected_element.tier %>">
          <%= selected_element.element.name %>
        </div>
      <% end %>
    </td>
  </tr>

</table>