<!-- TierList一覧機能 -->

<div class="col-md-9 d-flex flex-column">
  <p>
    <%= link_to '新しい順', tier_lists_path(new_order: "true", theme_filtering: @theme_filtaring) %>
    |<%= link_to '古い順', tier_lists_path(old_order: "true", theme_filtering: @theme_filtaring) %>
    |<%= link_to 'いいねが多い順', tier_lists_path(order_many_favorites: "true", theme_filtering: @theme_filtaring) %>
  </p>
  <% tier_lists.each do |tier_list| %>
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-8">
          <%= render "user/tier_lists/tier_list_show", tier_list: tier_list %>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title"><%= tier_list.theme.name %></h5>
            <%= link_to "詳細", tier_list_path(tier_list.id),class: "btn btn-outline-secondary" %>
            <p class="card-text"><%= tier_list.comment %></p>
            <%= link_to user_path(tier_list.user.id) do %><%= tier_list.user.name %><% end %>
            <% if user_signed_in? %>
              <div id="favorite-btn-<%= tier_list.id %>" >
                <%= render "user/favorites/favorite_btn", tier_list: tier_list %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>