<!-- TierList表示・編集 -->
<% tiers = [
  {tier_class: 'tier bg-danger', elements_class: 'tier_elements row m-0 table-danger', text: 'Tier1', number: 1},
  {tier_class: 'tier bg-primary', elements_class: 'tier_elements row m-0 table-primary', text: 'Tier2', number: 2},
  {tier_class: 'tier bg-warning', elements_class: 'tier_elements row m-0 table-warning', text: 'Tier3', number: 3},
  {tier_class: 'tier bg-secondary', elements_class: 'tier_elements row m-0 table-secondary', text: 'Tier4', number: 4},
] %>

<table class="container">
  <% tiers.each do |tier| %>
    <tr id='tier<%= tier[:number] %>'>
      <td class="<%= tier[:tier_class] %>"><%= tier[:text] %></td>
      <td class="<%= tier[:elements_class] %>" id='tier<%= tier[:number] %>_elements'>
        <% tier_list.selected_elements.where(tier: tier[:number]).each do |selected_element| %>
          <div class="m-1 bg-light element" id="<%= selected_element.element.id %>" data-tier="<%= selected_element.tier %>">
            <%= selected_element.element.name %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>