<div class="container d-flex justify-content-center">
  <table class="row border">
    <tr>
      <td class="pr-5">作者</td>
      <td><%= @tier_list.user.name %></td>
    </tr>
    <tr>
      <td >テーマ名</td>
      <td><%= @tier_list.theme.name %></td>
    </tr>
    <tr>
      <td>投稿日時</td>
      <td><%= @tier_list.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
    </tr>
    <tr>
      <td>コメント</td>
      <td><%= @tier_list.comment %></td>
    </tr>
  </table>
</div>

<div class="my-5">
  <%= render "tier_list_show", tier_list: @tier_list %>

  <div class="d-flex justify-content-end">
    <% if @tier_list.user.id == current_user.id %>
      <%= link_to "編集", edit_tier_list_path(@tier_list.id) ,class: "btn btn-info col-2" %>
      <%= link_to "削除まだ", edit_tier_list_path(@tier_list.id) ,class: "btn btn-info col-2" %>
    <% end %>
  </div>

</div>



