<% themes.each do |theme| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-8">

        <% tiers = [
          {tier_class: 'tier bg-danger', elements_class: 'tier_elements row m-0 table-danger', text: 'Tier1', number: 1},
          {tier_class: 'tier bg-primary', elements_class: 'tier_elements row m-0 table-primary', text: 'Tier2', number: 2},
          {tier_class: 'tier bg-warning', elements_class: 'tier_elements row m-0 table-warning', text: 'Tier3', number: 3},
          {tier_class: 'tier bg-secondary', elements_class: 'tier_elements row m-0 table-secondary', text: 'Tier4', number: 4},
        ] %>

        <table class="container">
          <% tiers.each do |tier| %>
            <tr id='tier<%= tier[:number] %>'>
              <td class="<%= tier[:tier_class] %>"><%= tier[:text] %></td>
              <td class="<%= tier[:elements_class] %>" id='tier<%= tier[:number] %>_elements'>
                  <% @averaged_tier_lists[theme.id].selected_elements.each do |selected_element| %>
                  <% if selected_element.tier == tier[:number] %>
                    <div class="m-1 bg-light element" id="<%= selected_element.element.id %>" data-tier="<%= selected_element.tier %>">
                      <%= selected_element.element.name %>
                    </div>
                  <% end %>
                <% end %>
                </td>
            </tr>
          <% end %>
        </table>

      </div>

      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title"><%= theme.name %></h5>
          <p class="card-text">投稿日時　<%= theme.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
          <p>タグ</p><br>
          <div class="d-flex flex-row">
            <% theme.tags.each do |tag| %>
              <%= link_to search_path(range: "tag", word: tag.name ) do %>
                <i class="fa-solid fa-tags"></i><%= tag.name %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>