<h1>新規テーマ作成</h1>

<div class="container">
  <div>
    <%= form_with model: @theme, local: true do |f| %>
      <div class="my-3">
        <%= render "user/error_messages", resource: @theme %>

        <%= f.label :name, 'テーマ' %>
        <%= f.text_field :name %>
      </div>


      <div class="my-3">
        <%= f.fields_for :elements do |element_form| %>
          <%= render 'element_fields', f: element_form %>
        <% end %>
        <div>
          <%= link_to_add_association '要素を追加', f, :elements, class: 'btn btn-success btn-sm' %>
        </div>
      </div>

      <div class="my-3">
        <%= f.fields_for :tags do |tag_form| %>
          <%= render 'tag_fields', f: tag_form %>
        <% end %>
        <div>
          <%= link_to_add_association 'タグを追加', f, :tags, class: 'btn btn-success btn-sm' %>
        </div>
      </div>

      <%= f.submit 'このテーマでTierを作る' %>

    <% end %>
  </div>
</div>