<div class="col-md-3 d-flex flex-column border px-0" style="height: fit-content;">

    <div class="mx-auto py-3">
      <%= image_tag user.get_profile_image(100,100) %>
    </div>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>ユーザー名</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>投稿したTierList</td>
        <td><%= user.tier_lists.count %></td>
      </tr>
    </tbody>
  </table>

  <% if user.name != "guestuser" && user == current_user %>
    <div class="m-2">
      <a class="btn btn-outline-primary mx-auto col" href= "<%= edit_user_path(user.id) %>" role="button">
        <i class="fas fa-cog"></i> ユーザー編集
      </a>
    </div>
  <% end %>

  <div class="m-2">
    <a class="btn btn-outline-primary mx-auto col" href="<%= user_favorite_path(user.id) %>" role="button">
      いいねしたTierList
    </a>
  </div>

</div>