<div class="text-center">
  <p>OurTierListへようこそ！！<br>自分だけのTierListをシェアしよう！！！</p>
  <p>↓↓↓新規登録してTierListを投稿しよう↓↓↓</p>
  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'btn btn-primary', method: :post %>
  <%= link_to "管理者用ログイン", new_admin_session_path, class: 'btn btn-primary' %>
</div>

<div class="container mt-5">
  <table class="table table-hover col-4 mx-auto border bg-light">
    <thead class="text-danger">
      <tr><th colspan="2" class="text-center">人気テーマ</th></tr>
    </thead>
    <tbody class="bg-light">
      <% @themes.each_with_index do |theme, index| %>
          <tr>
            <td><%= index + 1 %>位</td>
            <td>
              <%= link_to tier_lists_path(theme_filtering: theme.id) do %>
                <div>
                  <%= theme.name %>
                </div>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
