<!DOCTYPE html>
<html>
  <head>
    <title>OurTierList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/840e7c48b7.js" crossorigin="anonymous"></script>
  </head>

  <body id="page_top">
    <!-- Adminログイン時のheaderを返す-->
    <% if admin_signed_in? %>
      <header class="header">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">

            <a class="my-3" href="/" >
              <%= image_tag 'OurTierListLOGO.png', class:"logo" %>
            </a>

            <div>
              <ul class="navbar-nav ml-auto">

                <li class="paper nav-item ml-3">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'nav-link', style: 'color: black;' %>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </header>

    <!--userログイン状態の際に、表示したいheaderを記載 -->
    <% elsif user_signed_in? %>
      <header class="header">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">

            <a class="my-3" href="/" >
              <%= image_tag 'OurTierListLOGO.png', class:"logo" %>
            </a>

            <div class="paper d-flex align-items-center">
              <%= image_tag current_user.get_profile_image(50,50) %>
              <p>ユーザー名　<%= current_user.name %></p>
            </div>

            <div>
              <%= link_to "NewTierList", new_theme_path, class: 'nav-link btn btn-warning', style: 'color: black;' %>
            </div>

            <div>
              <ul class="navbar-nav ml-auto">

                <li class="paper nav-item ml-3">
                  <%= link_to "マイページ", user_path(current_user), class: 'nav-link', style: 'color: black;' %>
                </li>

                <li class="paper nav-item ml-3">
                  <%= link_to "TierList", tier_lists_path, class: 'nav-link', style: 'color: black;'%>
                </li>

                <li class="paper nav-item ml-3">
                  <%= link_to "テーマ一覧", themes_path, class: 'nav-link', style: 'color: black;'%>
                </li>

                <li class="paper nav-item ml-3">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link', style: 'color: black;' %>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </header>

    <!--adminでもuserでもログインしていない時に表示するheaderを記載-->
    <% else %>
      <header class="header">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">

            <a class="my-3" href="/" >
              <%= image_tag 'OurTierListLOGO.png', class:"logo" %>
            </a>

            <div>
              <ul class="navbar-nav ml-auto">

                <li class="paper nav-item ml-3">
                  <%= link_to "About", about_path, class: 'nav-link', style: 'color: black;'%>
                </li>

                <li class="paper nav-item ml-3">
                  <%= link_to "TierList", tier_lists_path, class: 'nav-link', style: 'color: black;'%>
                </li>

                <li class="paper nav-item ml-3">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link', style: 'color: black;'%>
                </li>

                <li class="paper nav-item ml-3">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link', style: 'color: black;'%>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% end %>
  </body>


  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <main class="main py-3">
    <%= yield %>
  </main>

  <footer class="footer d-flex justify-content-center align-items-center" style="height: 100px;">
    <a href="#page_top">上部へ</a>
  </footer>
</html>
